faster-whisper
pyaudio
openwakeword
ollama
pyautogui
PyQt6
duckduckgo-search
yt-dlp
loguru
pyyaml
keyring
pytesseract
pillow
numpy
sounddevice
scipy
crawl4ai
sentence-transformers
kokoro-onnx
soundfile
pywinauto
psutil
spotipy
onnxruntime-gpu==1.19.2
nvidia-cuda-runtime-cu12
nvidia-cublas-cu12
nvidia-cudnn-cu12